<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="order-form/styles.css" />
    <title>Confirmation</title>
  </head>
  <body>
    <div class="bg">
      <div class="card">
        <span class="card__success"
          ><svg
            class="card__check"
            enable-background="new 0 0 32 32"
            height="32px"
            id="Layer_1"
            version="1.1"
            viewBox="0 0 32 32"
            width="32px"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <path
              d="M30.171,6.131l-0.858-0.858c-0.944-0.945-2.489-0.945-3.433,0L11.294,19.859l-5.175-5.174  c-0.943-0.944-2.489-0.944-3.432,0.001l-0.858,0.857c-0.943,0.944-0.943,2.489,0,3.433l7.744,7.75c0.944,0.945,2.489,0.945,3.433,0  L30.171,9.564C31.112,8.62,31.112,7.075,30.171,6.131z"
              fill="#ffffff"
            /></svg
        ></span>
        <h1 class="card__msg">Order Complete</h1>
        <h2 class="card__submsg">Thank you for your order</h2>
        <div class="card__body">
          <p class="card__method">Payment method</p>
          <div class="card__payment">
            <img
              src="https://seeklogo.com/images/V/VISA-logo-F3440F512B-seeklogo.com.png"
              class="card__credit-card"
            />
            <div class="card__card-details">
              <p class="card__card-type">Credit / debit card</p>
              <p class="card__card-number">Visa ending in **89</p>
            </div>
          </div>
        </div>

        <div class="card__tags">
          <span class="card__tag">completed</span>
          <span class="card__tag">#123456789</span>
        </div>
      </div>
    </div>
  </body>
</html>
